  .mural {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin: 1rem 0 2rem;
  }

  .d-flex {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .sem-atividades {
    text-align: center;
    padding: 2rem 0 5rem;
  }

  .botoes {
    display: flex;
    margin-right: 50px;
    margin-left: 50px;
    justify-content: flex-end
  }

  .edit {
    margin-right: 50px;
  }

  .atividade {
    background-color: #F8F9FE;
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
  }

  .ff-inter {
    color: #154580;
    font-weight: bold;
    margin: 0 0 1rem;
  }