<app-cabecalho></app-cabecalho>
<section class="container">
    <header class="header d-flex">
      <h2 class="ff-inter">Histórico de Atividades</h2>
      <button class="botao" (click)="adicionarAtividade()">Adicionar atividade</button>
    </header>
    <div class="mural" *ngIf="atividades.length > 0, else semAtividades">
      <div *ngFor="let atividade of atividades">
        <div>
            <div>
                <label class="ff-inter">Título</label>
                <h5 class="ff-inter">{{atividade.titulo}}</h5>
                <br>
                <label class="ff-inter">Descrição</label>
                <h5 class="ff-inter">{{atividade.descricao}}</h5>
                <br>
                <label class="ff-inter">Categoria</label>
                <h5 class="ff-inter">{{atividade.categoria}}</h5>
            </div>
            <br>
            <div class="botoes">
                <button class="botao edit" (click)="onEdit(atividade)">Editar</button>
                <button class="botao" (click)="onDelete(atividade)">Deletar</button>
            </div>
          </div>
      </div>
    </div>
  </section>
  <ng-template #semAtividades>
    <div class="ff-inter sem-atividadas">
      <p>Ainda não há atividades cadastradas!</p>
    </div>
  </ng-template>
<app-rodape></app-rodape>
